<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Basic Layout - jQuery EasyUI Demo</title>
	<link rel="stylesheet" type="text/css" href="/quartz/easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/quartz/easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="/quartz/easyui/demo.css">
	<script type="text/javascript" src="/quartz/easyui/jquery.min.js"></script>
	<script type="text/javascript" src="/quartz/easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript">
		$(function() {
			$("div[tag]").bind( "click", function() {
			    var view = $(this).attr("view");
			    var title = $(this).html();
				var url = view+".html";
				var content = '<iframe scrolling="auto" frameborder="0" src="'+url+'" style="width:99%;height:99%;"></iframe>';
				$('#tabs').tabs('add',{
				title:title,
				content:content,
				closable:true
				});
			});
		})

	</script>
</head>
<body class="easyui-layout">
	<div style="width:15%;height:5%;"></div>
	
	<!-- 上部 -->
	<!-- <div data-options="region:'north'" style="height:5%"></div>-->
	
	<!-- 下部 -->
	<!-- <div data-options="region:'south',split:true" style="height:5%;"></div>-->
	
	<div data-options="region:'west',split:true" title="West" style="width:15%;height:5%;">
		<div class="easyui-accordion" data-options="multiple:true">
			<div title="About" data-options="iconCls:'icon-ok'" style="overflow:auto;padding:0px;">
				<h3 style="color:#0099FF;">Accordion for jQuery</h3>
				<p>Accordion is a part of easyui </p>					
			</div>
			<div title="TreeMenu" data-options="iconCls:'icon-search',selected:true"  style="padding:0px;">
				<ul class="easyui-tree">
					<li>
						<span>定时任务管理</span>
						<ul>
							<li>
								<div tag="event" view="/quartz/member/group.html">分组管理</div>
							</li>
							<li>
								<div tag="event" view="/quartz/member/job.html">任务管理</div>
							</li>	
							<li>
								<div tag="event" view="/quartz/member/history.html">查询历史</div>
							</li>	
							<li>
								<div tag="event" view="first">HELP</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div title="Help" data-options="iconCls:'icon-help'" style="padding:0px;">
				<p> ask luyl for help.</p>
			</div>
		</div>		
	</div>
	
	<div data-options="region:'center',title:'Main Title<a href=logout>登出</a>',iconCls:'icon-ok'"  > 
		<div id="tabs" class="easyui-tabs" data-options="fit:true"  style="width:auto;height:auto">
			<div title="Help" data-options="iconCls:'icon-help',closable:true" style="padding:10px">
				This is the help content.
			</div>			
		</div>
	</div>

	</div>
</body>
</html>