<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Basic SearchBox - jQuery EasyUI Demo</title>
		
        <link rel="stylesheet" type="text/css" href="../easyui/themes/default/easyui.css">
        <link rel="stylesheet" type="text/css" href="../easyui/themes/icon.css">
        <link rel="stylesheet" type="text/css" href="../easyui/demo.css">
        <script type="text/javascript" src="../easyui/jquery.min.js">
        </script>
        <script type="text/javascript" src="../easyui/jquery.easyui.min.js">
        </script>
        <script type="text/javascript" src="../easyui/jquery-1.11.3.js">
        </script>
		
		<script>
				
			$(function() {
				var $jQuery =   jQuery.noConflict();
				$(".datebox :text").attr("readonly","readonly");
				$('#addNewDialog').panel('close');
				$("#updateDialog").panel('close');
				$("#detailDialog").panel('close');
				}
			)

			
			function searchRecords(){
				$('#recordGrid').datagrid({
					loadMsg: '正在加载信息...',
					type : 'post',
					queryParams: {
						jobName: $('#jobName').val(),
						jobGroup: $('#jobGroup').val(),
						beginDate: $('#beginDate').datetimebox('getValue'),
						endDate: $('#endDate').datetimebox('getValue'),
						result: $('#result').val(),
							},
					url:'/quartz/member/queryHistoryList.do',
				});
				 
			}

			function deleteRecords() {
				//var row = $('#recordGrid').datagrid('getSelections');
				var ids = [];
				var deleteIds = "";
				var rows = $('#recordGrid').datagrid('getChecked');
				for(var i=0; i<rows.length; i++){
					ids.push(rows[i].resultHistoryId);
					if(i==0){
						deleteIds=rows[i].resultHistoryId;
					}else {
						deleteIds=deleteIds+","+rows[i].resultHistoryId;
					}
				}
				if(ids==""){
					alert("选一个啊！");
				} else {
					var deleteAlert = ids.join('\n');
					deleteAlert = deleteAlert+"\n准备删除以上记录";
					//$.messager.alert("操作提示", deleteAlert,"WARNNING");
					alert(deleteAlert);
					$.messager.confirm("删除确认","是否批量删除记录", function (r) {  
						if (r) {
							var $jQuery =   jQuery.noConflict();
							jQuery.ajax({
								type: 'POST',
								url: "/quartz/member/deleteHistory.do",
								data:{
								deletes :deleteIds
									},  
								success: function (text) {
									var ajaxResult=eval("("+text+")");
									if(ajaxResult.result){
										delRows();
										} else {
											displayAjaxResult(ajaxResult);
										}
									},
								error: function () {
										$.messager.alert("操作提示", "删除失败","ERROR");
									}
								});					
		       			 	}  
					});      	
				}
			}

				
			function addReordForm(){
				var checkPass = $('#addNewForm').form('validate');
				if(!checkPass){
					return;
					}
				
				$.messager.confirm("新增确认","是否新增记录", function (r) {  
				    if (r) {
						var $jQuery =   jQuery.noConflict();
						jQuery.ajax({
							type: 'POST',
							url: "/quartz/member/insertHistory.do",
							data:{
																																																																																																																																																								},  
							success: function (text) {
								var ajaxResult=eval("("+text+")");
								displayAjaxResult(ajaxResult);
								$('#addNewDialog').panel('close');
							},
							error: function () {
								$.messager.alert("操作提示", "新增失败","ERROR");
							}
						});						
       			 	}  
			    });
			}
			

		    function displayAjaxResult(ajaxResult) {
				var title = ajaxResult.title;
				var msg = ajaxResult.msg;
				var type = ajaxResult.type;
				if(title==null||title==""){
					title = "操作提示";
				}
				if(type!="error") {
				} else if (type!="info") {
				} else {
					type = "warnning";
				}
				$.messager.alert(title , msg , type);
			}

			function delRows() {
				var rows = $('#recordGrid').datagrid("getChecked"); 
				for(var i =0;i<rows.length;i++) {    
					var index = $('#recordGrid').datagrid('getRowIndex',rows[i]);
					$('#recordGrid').datagrid('deleteRow',index);
				} 
				//$('#recordGrid').datagrid('reload');
			}	

			function onLoadSuccess(data){
				var rows =  $('#recordGrid').datagrid("getRows");
				for(var i=0; i<rows.length; i++){
				}
			}

			function formatOper(val,row,index) { 
				return ' <a class="Query_Button" href="javascript:selectOneRecord(\'' + row.resultHistoryId + '\')"> 查询 </a> ' 
			}  
			
			function deleteOneRecord(row) {
				$.messager.confirm("删除确认","是否删除记录", function (r) {  
				    if (r) {
						var $jQuery =   jQuery.noConflict();
						jQuery.ajax({
							type: 'POST',
							url: "/quartz/member/deleteHistory.do",
							data:{
								deletes :row
								},  
							success: function (text) {
								var ajaxResult=eval("("+text+")");
								if(ajaxResult.result){
									$.messager.alert("操作提示", ajaxResult.msg,ajaxResult.type);
									var rows = $('#recordGrid').datagrid("getRows"); 
									for(var i =0;i<rows.length;i++) {
										if(row==rows[i].resultHistoryId){
											var index = $('#recordGrid').datagrid('getRowIndex',rows[i]);
											$('#recordGrid').datagrid('deleteRow',index);
											break;
											}
										} 
									} else {
										  $.messager.alert( "操作提示", ajaxResult.msg , ajaxResult.type);    
									}

							},
							error: function () {
								$.messager.alert("操作提示", "删除失败","ERROR");
							}
						});					
       			 	}  
			    });
			}
			
			function selectOneRecordForUpdate(primaryKey) { 
				var $jQuery =   jQuery.noConflict();
				jQuery.ajax({
					type: 'POST',
					url: "/quartz/member/queryHistoryDetail.do",
					data:{
						resultHistoryId :primaryKey
						},  
					success: function (text) {
							var ajaxResult=eval("("+text+")");
							if(ajaxResult.result!=null){
								displayAjaxResult(ajaxResult);
							} else {
								var ajaxResult=eval("("+text+")");
								$('#updateDialog').dialog("open");
								$('#updateForm').form('load',{
								resultHistoryId_UpdateForm:ajaxResult.resultHistoryId,
								inputDate_UpdateForm:ajaxResult.inputDate,
																								});
							}				
						},
					error: function () {
						$.messager.alert("操作提示", "查询记录失败","ERROR");
						}
					});
			}  
			
			function updateOneRecord(primaryKey) { 
				var checkPass = $('#updateForm').form('validate');
				if(!checkPass){
					return;
					}
				
				$.messager.confirm("修改确认","是否修改记录", function (r) {  
				    if (r) {
						var $jQuery =   jQuery.noConflict();
						jQuery.ajax({
							type: 'POST',
							url: "/quartz/member/updateHistory.do",
							data:{
																																																																																																																																						resultHistoryId:$('#resultHistoryId_UpdateForm').val()				
								},  
							success: function (text) {
								var ajaxResult=eval("("+text+")");
								displayAjaxResult(ajaxResult);
								$('#updateDialog').panel('close');
							},
							error: function () {
								$.messager.alert("操作提示", "修改失败","ERROR");
							}
						});						
       			 	}  
			    });								
			
			}
			
			
			function selectOneRecord(primaryKey) { 
				var $jQuery =   jQuery.noConflict();
				jQuery.ajax({
					type: 'POST',
					url: "/quartz/member/queryHistoryDetail.do",
					data:{
						resultHistoryId :primaryKey
						},  
					success: function (text) {
						var ajaxResult=eval("("+text+")");
						if(ajaxResult.result!=null){
							displayAjaxResult(ajaxResult);
						} else {
							$('#detailDialog').dialog("open");
							$('#detailForm').form('load',{
								resultHistoryId:ajaxResult.resultHistoryId,
								jobName:ajaxResult.jobName,
								jobGroup:ajaxResult.jobGroup,
								beginDate:ajaxResult.beginDate,
								endDate:ajaxResult.endDate,
								result:ajaxResult.result,
								body:ajaxResult.body,
								inputDate:ajaxResult.inputDate,
																									});						
							}					
						},
					error: function () {
						$.messager.alert("操作提示", "查询记录失败","ERROR");
						}
					});
			}
			
			
			$(function () {
				$(".panel-noscroll")
					.css({
						top: 0,
						right: 0,
						bottom: 0,
						left: 0
					});
					
				$(".panel.datagrid.easyui-fluid").css('width', '100%') 
					.find('.panel-header').css('width', '100%').end()
					.find('.datagrid-wrap.panel-body').css('width', '100%')
						.find('.datagrid-view').css('width', '100%');
				
			});
						
		</script>
	</head>
	<body>

        <div style="margin: 0px 0 0px 0; margin: 0px; position: absolute; top:0; right:0;bottom: 0; left: 0;">
            <table id="recordGrid" class="easyui-datagrid" title="DataGrid Complex Toolbar"
            style="width: 100%; height: 800px; padding: 0px; margin: 0 0 0 0;" data-options="rownumbers:true,onLoadSuccess: onLoadSuccess,remoteSort:false,checkOnSelect:false,pagination:true,singleSelect:false,url:'',method:'post',toolbar:'#condition',fit: true">
				<thead>
					<tr>
						<th data-options="field:'jobName',width:50" sortable="true" width="10%">
							job名称
						</th>
						<th data-options="field:'jobGroup',width:50" sortable="true" width="10%">
							分组
						</th>
						<th data-options="field:'success',width:50" sortable="true" width="5%">
							结果
						</th>
						<th data-options="field:'body',width:300" sortable="true" width="40%">
							结果报文
						</th>
						<th data-options="field:'inputDate',width:60" sortable="true" width="12%">
							创建时间
						</th>
						<th data-options="field:'resultHistoryId',width:50,hidden:true" sortable="true" width="10%">
						PramaryKey
						</th>
					</tr>
				</thead>
			</table>
			<div id="condition" class="container_12" style="position: relative; padding: 0px;">
				<div style="height: 10px;">
				</div>
				
																								<span>job名称:</span>
													<input id="jobName" class="easyui-textbox" data-options="iconWidth:30,prompt:''" style="width: 150px; padding: 2px;">
																										<span>分组:</span>
													<input id="jobGroup" class="easyui-textbox" data-options="iconWidth:30,prompt:''" style="width: 150px; padding: 2px;">
																										<span>开始时间:</span>
													<input id="beginDate" class="easyui-datetimebox" style="width: 150px; padding: 2px;">
																										<span>结速时间:</span>
													<input id="endDate" class="easyui-datetimebox" style="width: 150px; padding: 2px;">
																										<span>结果:</span>
													<select id="result" class="textbox combo" style="width: 150px; padding: 2px;"> 
								<option value=""></option>
								<option value="true">true</option>
								<option value="false">false</option>
							</select> 
																																					
							
				<div>
					<div style="height: 10px;">
					</div>
					<div>
						<a id="search" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width: 80px;" onclick="searchRecords()">Search</a>
						<span>选择模式: </span>
						<select class="textbox combo" onchange="$('#recordGrid').datagrid({singleSelect:(this.value==0)})">
							<option value="1">多行</option>
							<option value="0">单行</option>
						</select>
					</div>
				</div>
				<div style="height: 10px;">
				</div>
			</div>
		</div>

		<div id="addNewDialog" class="easyui-dialog" title="ADD NEW RECORD" data-options="iconCls:'icon-save',buttons:'#addDialogToolbar',modal:false" style="width: 500px; height: 600px; padding: 10px">
			<div style="padding: 10px 60px 20px 60px">
				<center>
				<form id="addNewForm" method="post">
					<table>
						
																																																																																																														
					</table>
				</form>
				</center>
			</div>
		</div>
		<div id="addDialogToolbar" style="text-align: center; padding: 5px">
			<a href="javascript:void(0)" class="easyui-linkbutton" onclick="addReordForm()">新增</a>
			<a href="javascript:void(0)" class="easyui-linkbutton" onclick="$('#addNewForm').form('clear')">Clear</a>
		</div>


		<div id="updateDialog" class="easyui-dialog" title="Update Record" style="width:500px;height:400px;text-align:center" data-options="iconCls:'icon-save',resizable:true,buttons:'#udpateDialogToolbar',modal:true">   
		    <!--
		    <iframe scrolling="auto" frameborder="0" src="insertUser.do" style="width:100%;height:100%;"></iframe>
		    -->
		    <center>
			<form id="updateForm" method="post">
				<table>
				
																		<tr>
								<td>:</td>
								<td><input name="resultHistoryId_UpdateForm" id="resultHistoryId_UpdateForm"  class="easyui-textbox" data-options="disabled:true" type="text"></input></td>
							</tr>
																																																																																													
																																																																																																		<tr hidden=true>
						<td>userId:</td>
						<td><input name="resultHistoryId_UpdateForm" id="resultHistoryId_UpdateForm"
							class="easyui-textbox" data-options="disabled:true" type="text"></input></td>
					</tr>
				</table>
			</form>
			</center>
		</div>  
		<div id="udpateDialogToolbar">
			<center>
				<a href="#" class="easyui-linkbutton" onclick="updateOneRecord()">保存</a>
				<a href="#" class="easyui-linkbutton" onclick="$('#updateDialog').dialog('close')">关闭</a>
			</center>
		</div>
		
		
		<div id="detailDialog" class="easyui-dialog" title="Query Detail Record" style="width:500px;height:400px;text-align:center" data-options="iconCls:'icon-save',resizable:true,buttons:'#detailDialogToolbar',modal:true">   
		    <center>
				<form id="detailForm" method="post">
					<table>
																					<tr>
									<td>:</td>
									<td><input class="easyui-textbox" data-options="disabled:true" type="text" name="resultHistoryId"></input></td>
								</tr>	
																												<tr>
									<td>job名称:</td>
									<td><input class="easyui-textbox" data-options="disabled:true" type="text" name="jobName"></input></td>
								</tr>	
																												<tr>
									<td>分组:</td>
									<td><input class="easyui-textbox" data-options="disabled:true" type="text" name="jobGroup"></input></td>
								</tr>	
																												<tr>
									<td>开始时间:</td>
									<td><input class="easyui-textbox" data-options="disabled:true" type="text" name="beginDate"></input></td>
								</tr>	
																												<tr>
									<td>结速时间:</td>
									<td><input class="easyui-textbox" data-options="disabled:true" type="text" name="endDate"></input></td>
								</tr>	
																												<tr>
									<td>结果:</td>
									<td><input class="easyui-textbox" data-options="disabled:true" type="text" name="result"></input></td>
								</tr>	
																												<tr>
									<td>结果报文:</td>
									<td><input class="easyui-textbox" data-options="disabled:true" type="text" name="body"></input></td>
								</tr>	
																												<tr>
									<td>创建时间:</td>
									<td><input class="easyui-textbox" data-options="disabled:true" type="text" name="inputDate"></input></td>
								</tr>	
																		</table>
				</form>
			</center>
		</div>  
		<div id="detailDialogToolbar">
			<center>
				<a href="#" class="easyui-linkbutton" onclick="$('#detailDialog').dialog('close')">关闭</a>
			</center>
		</div>		
		
	</body>


