{"total":32,"rows":[
	{"memberGroupId":"memberGroupId0","jobGroup":"jobGroup0","memberId":"memberId0","memberName":"memberName0","description":"description0","reason":"reason0","inputUser":"inputUser0","updateUser":"updateUser0","inputDate":"2016-02-09 10:10:0","updateDate":"2016-02-09 10:10:0","updateVersion":"updateVersion0","isDelete":"isDelete0"},
	{"memberGroupId":"memberGroupId1","jobGroup":"jobGroup1","memberId":"memberId1","memberName":"memberName1","description":"description1","reason":"reason1","inputUser":"inputUser1","updateUser":"updateUser1","inputDate":"2016-02-09 10:10:1","updateDate":"2016-02-09 10:10:1","updateVersion":"updateVersion1","isDelete":"isDelete1"},
	{"memberGroupId":"memberGroupId2","jobGroup":"jobGroup2","memberId":"memberId2","memberName":"memberName2","description":"description2","reason":"reason2","inputUser":"inputUser2","updateUser":"updateUser2","inputDate":"2016-02-09 10:10:2","updateDate":"2016-02-09 10:10:2","updateVersion":"updateVersion2","isDelete":"isDelete2"},
	{"memberGroupId":"memberGroupId3","jobGroup":"jobGroup3","memberId":"memberId3","memberName":"memberName3","description":"description3","reason":"reason3","inputUser":"inputUser3","updateUser":"updateUser3","inputDate":"2016-02-09 10:10:3","updateDate":"2016-02-09 10:10:3","updateVersion":"updateVersion3","isDelete":"isDelete3"},
	{"memberGroupId":"memberGroupId4","jobGroup":"jobGroup4","memberId":"memberId4","memberName":"memberName4","description":"description4","reason":"reason4","inputUser":"inputUser4","updateUser":"updateUser4","inputDate":"2016-02-09 10:10:4","updateDate":"2016-02-09 10:10:4","updateVersion":"updateVersion4","isDelete":"isDelete4"},
	{"memberGroupId":"memberGroupId5","jobGroup":"jobGroup5","memberId":"memberId5","memberName":"memberName5","description":"description5","reason":"reason5","inputUser":"inputUser5","updateUser":"updateUser5","inputDate":"2016-02-09 10:10:5","updateDate":"2016-02-09 10:10:5","updateVersion":"updateVersion5","isDelete":"isDelete5"},
	{"memberGroupId":"memberGroupId6","jobGroup":"jobGroup6","memberId":"memberId6","memberName":"memberName6","description":"description6","reason":"reason6","inputUser":"inputUser6","updateUser":"updateUser6","inputDate":"2016-02-09 10:10:6","updateDate":"2016-02-09 10:10:6","updateVersion":"updateVersion6","isDelete":"isDelete6"},
	{"memberGroupId":"memberGroupId7","jobGroup":"jobGroup7","memberId":"memberId7","memberName":"memberName7","description":"description7","reason":"reason7","inputUser":"inputUser7","updateUser":"updateUser7","inputDate":"2016-02-09 10:10:7","updateDate":"2016-02-09 10:10:7","updateVersion":"updateVersion7","isDelete":"isDelete7"},
	{"memberGroupId":"memberGroupId8","jobGroup":"jobGroup8","memberId":"memberId8","memberName":"memberName8","description":"description8","reason":"reason8","inputUser":"inputUser8","updateUser":"updateUser8","inputDate":"2016-02-09 10:10:8","updateDate":"2016-02-09 10:10:8","updateVersion":"updateVersion8","isDelete":"isDelete8"},
	{"memberGroupId":"memberGroupId9","jobGroup":"jobGroup9","memberId":"memberId9","memberName":"memberName9","description":"description9","reason":"reason9","inputUser":"inputUser9","updateUser":"updateUser9","inputDate":"2016-02-09 10:10:9","updateDate":"2016-02-09 10:10:9","updateVersion":"updateVersion9","isDelete":"isDelete9"},
	{"memberGroupId":"memberGroupId31","jobGroup":"jobGroup31","memberId":"memberId31","memberName":"memberName31","description":"description31","reason":"reason31","inputUser":"inputUser31","updateUser":"updateUser31","inputDate":"2016-02-09 10:10:31","updateDate":"2016-02-09 10:10:31","updateVersion":"updateVersion31","isDelete":"isDelete31"}
]}

