{
	"resultHistoryId":"resultHistoryId",
	"jobName":"jobName",
	"jobGroup":"jobGroup",
	"beginDate":"2016-02-09 10:10:10",
	"endDate":"2016-02-09 10:10:10",
	"result":"result",
	"body":"body",
	"inputDate":"2016-02-09 10:10:10",
}

